/* use this file to style your documentation */
body {
  font-family: "Work Sans", sans-serif;
}
a,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

header .nav-bar {
  background-color: #ffe9d0;
  color: #744F07;
}

.logo {
  margin-top: 10px;
  margin-bottom: 15px;
}
.smarthermo {
  max-width: 87%;
}

.choices ul {
  list-style-type: none;
  margin-top: 32px;
  font-weight: 500;
  font-size: 130%;
  text-align: right;
}

.choices li {
  display: inline;
}

a {
  padding: 20px;
}

#home {
  padding: 5px;
  padding-right: 15px;
  padding-left: 15px;
  background-color: #abe0fe;
  border: 1px solid #abe0fe;
  border-radius: 9px;
}

#body1 {
  background-image: url("https://cdn.glitch.me/6c5b7813-f9be-49fd-8b16-69f20afaecb9/pexels-photo-3183186%20(1).jpeg?v=1639756580117");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

#body1 h1 {
  text-transform: capitalize;
  color: #3fbbff;
  padding-top: 190px;
  font-weight: 500;
  line-height: normal;
  text-shadow: #ffe9d0 1px 0 10px;
}

#body1 .btn {
  background-color: #abe0fe;
  border-radius: 80px;
  font-family: "Work Sans", sans-serif;
  font-size: 130%;
  margin-top: 40px;
  margin-bottom: 190px;
  padding: 16px;
  height: auto;
  color: #744F07;
  transition: transform 0.2s ease;
}

/*#body1 a :hover {
  background-color: #ffe9d0;
}*/

#body1 a :hover {
  background-color: #57c2ff;
  color: white;
  transform: scale(1.05);
}

#body1 .container {
  text-align: center;
}

#background-col {
  background: rgb(255, 233, 208);
  background: linear-gradient(
    126deg,
    rgba(255, 233, 208, 0.5676645658263305) 15%,
    rgba(171, 224, 254, 1) 33%,
    rgba(255, 233, 208, 0.7609418767507002) 50%,
    rgba(171, 224, 254, 0.8365721288515406) 71%
  );
}

.body {
  padding-top: 30px;
  padding-bottom: 30px;
}

h3 {
  text-align: center;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  color: #ffe9d0;
  font-weight: 500;
  background: #57c2ff;
  padding: 8px;
  margin-right: 85px;
  margin-left: 85px;
  border-radius: 80px;
  transition: transform 0.2s ease;
}

h3:hover {
  transform: scale(1.05);
}

.body p {
  font-size: 120%;
  text-align: justify;
  padding-left: 85px;
  padding-right: 85px;
  margin-bottom: 15px;
}
.body #list {
  list-style-type: disc;
  font-size: 120%;
  padding-left: 85px;
  padding-right: 85px;
  text-align: justify;
}

.glitch-embed-wrap {
  padding-bottom: 30px;
}

#cja {
  font-size: 90%;
}

#notion {
  text-align: center;
}

.body img {
  padding-left: 85px;
  padding-right: 85px;
}

#last-part {
  padding-bottom: 60px;
}

footer {
  background-color: #ffe9d0;
  text-align: center;
}

h5 {
  font-weight: 500;
  font-size: 130%;
  margin-bottom: 5px;
  margin-top: 10px;
  color: #744F07;
}

footer p {
  margin-top: 15px;
  margin-bottom: 0px;
}

#end .container {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: Gray;
}

#end .container p {
  margin-top: 15px;
  margin-bottom: 15px;
}

footer .button {
  font-family: "Work Sans", sans-serif;
  background-color: #abe0fe;
  border-radius: 20px;
  transition: transform 0.2s ease;
}
#mail :hover {
  color: white;
  background-color: #57c2ff;
  transform: scale(1.05);
}
#contact {
  margin-bottom: 10px;
}
