/* use this file to style your documentation */
body {
  font-family: "Work Sans", sans-serif;
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

header .nav-bar {
  background-color: #ffe9d0;
  color: #744F07;
}

.logo {
  margin-top: 10px;
  margin-bottom: 15px;
}
.smarthermo {
  width: 120%;
}

.choices ul {
  list-style-type: none;
  margin-top: 35px;
  font-weight: 500;
  font-size: 130%;
  text-align: right;
}


.choices li {
  display: inline;
}

a {
  padding: 20px;
}

#home {
  padding: 5px;
  padding-right: 15px;
  padding-left: 15px;
  background-color: #abe0fe;
  border: 1px solid #abe0fe;
  border-radius: 9px;
}

#background-col {
  background: rgb(255, 233, 208);
  background: linear-gradient(
    126deg,
    rgba(255, 233, 208, 0.5676645658263305) 15%,
    rgba(171, 224, 254, 1) 33%,
    rgba(255, 233, 208, 0.7609418767507002) 50%,
    rgba(171, 224, 254, 0.8365721288515406) 71%
  );
}

h3 {
  text-align: center;
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  color: #744F07;
  font-weight: 500;
}

.body p {
  font-size: 120%;
  text-align: justify;
  padding-left: 50px;
  padding-right: 50px;
}
.body #list {
  list-style-type: disc;
  font-size: 120%;
  padding-left: 50px;
  padding-right: 50px;
  text-align: justify;
}

.glitch-embed-wrap {
  padding-bottom: 30px;
}

#cja {
  font-size: 90%;
}

#notion {
  text-align: center;
}

.body img {
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 30px;
}

footer {
  background-color: #ffe9d0;
  text-align: center;
}

h5 {
  font-weight: 500;
  font-size: 130%;
  margin-bottom: 5px;
  color: #744F07;
}

footer p {
  margin-top: 15px;
  margin-bottom: 0px;
}

#end .container {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: Gray;
}

#end .container p {
  margin-top: 15px;
  margin-bottom: 15px;
}

footer .button {
  font-family: "Work Sans", sans-serif;
  background-color: #abe0fe;
   border-radius: 20px;
}
#mail :hover {
  color: white;
   background-color: #57c2ff;
}
#contact {
  margin-bottom: 10px;
}
