/* use this file to style your homepage */
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

header .nav-bar {
  background-color: #8db0f2;
}

.logo {
  font-family: "Lora", serif;
  font-weight: bold;
  font-size: 180%;
  text-transform: uppercase;
  text-align: left;
  margin-top: 25px;
  margin-bottom: 25px;
}

.choices ul {
  font-family: "Lora", serif;
  list-style-type: none;
  margin-top: 30px;
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 130%;
  text-align: right;
}

li {
  display: inline;
}

a {
  padding: 20px;
}

#doc {
  padding: 5px;
  padding-right: 15px;
  padding-left: 15px;
  background-color: #d1dffa;
  border: 1px solid #d1dffa;
  border-radius: 9px;
}

footer {
  background-color: #8db0f2;
  font-family: "Lora", serif;
}

h5 {
  font-weight: 500;
  font-size: 130%;
  margin-top: 15px;
}

.about .container .mail {
  font-family: "Montserrat", sans-serif;
  width: 85%;
}
.about .container .button-primary {
  font-family: "Lora", serif;
  background-color: black;
  border-color: black;
}
