/* use this file to style your homepage */
body {
  font-family: "Lora", serif;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

header .nav-bar {
  background-color: #ffe9d0;
  opacity: 0.8;
  margin-bottom: 200px;
}

.logo {
  font-weight: bold;
  font-size: 180%;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 15px;
}

.choices ul {
  list-style-type: none;
  margin-top: 26px;
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 130%;
  text-align: right;
}

.choices li {
  display: inline;
}

a {
  padding: 20px;
}

#doc {
  padding: 5px;
  padding-right: 15px;
  padding-left: 15px;
  background-color: #abe0fe;
  border: 1px solid #abe0fe;
  border-radius: 9px;
}

#background-img {
  background-image: url("https://cdn.glitch.me/6c5b7813-f9be-49fd-8b16-69f20afaecb9%2Fjozsef-koller-0w3NPruCHks-unsplash.jpeg?v=1639320385639");
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 120px;
}

#body1 mark {
  background-color: #ffe9d0;
  opacity: 0.8;
}

#body1 h1 {
  line-height: 1.28;
}

#body1 .btn {
  background-color: #ffe9d0;
  border-radius: 80px;
  font-family: "Lora", serif;
  font-size: 130%;
  margin-top: 100px;
  margin-bottom: 100px;
}
#body1 .container {
  text-align: center;
}
/* #body1 img{
  max-width: 40%;
  max-height: 40%;
}
#body1 .store {
margin-top: 0px;
} */

#background-col {
  background: rgb(255, 233, 208);
  background: linear-gradient(
    126deg,
    rgba(255, 233, 208, 0.5676645658263305) 29%,
    rgba(171, 224, 254, 1) 78%
  );
 
}

h2 {
  padding-top: 40px;
  padding-bottom: 10px;
}

#body2 p {
  font-size: 130%;
  text-align: justify;
}

#body2 #i1 {
  margin-top: 90px;
  max-width: 60%;
  max-height: 60%;
}

#body3 {
  font-size: 130%;
  text-align: justify;
}

#body3 .img {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 40px;
}

#body3 .text {
  margin-top: 90px;
}

#body3 #i2 {
  max-width: 65%;
  max-height: 65%;
}

.imageheader {
  height: 60vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#linh {
  background-image: url("https://cdn.glitch.me/6c5b7813-f9be-49fd-8b16-69f20afaecb9%2Ferik-mclean-fSLI8RdCdyk-unsplash.jpeg?v=1639327485788");
}

#linh2 {
  background-image: url("https://cdn.glitch.me/6c5b7813-f9be-49fd-8b16-69f20afaecb9%2Fjon-nathon-stebbe-paydk0JcIOQ-unsplash.jpeg?v=1639241238462");
}

#linh3 {
  background-image: url("https://cdn.glitch.me/6c5b7813-f9be-49fd-8b16-69f20afaecb9%2Fhe-gong-2VCtLsPEaWI-unsplash.jpeg?v=1639346746698");
}

#body4 {
  background: rgb(255, 233, 208);
  background: linear-gradient(
    126deg,
    rgba(255, 233, 208, 0.5676645658263305) 29%,
    rgba(171, 224, 254, 1) 78%
  );
}

#body4 .text {
  text-align: justify;
  font-size: 130%;
}
#body4 .figma {
  text-align: center;
  margin-top: 120px;
  margin-bottom: 50px;
}
#body4 #instruction {
  list-style-type: disc;
}

.card {
  border-radius: 5px;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.3);
  min-height: 350px;
  margin-bottom: 50px;
  background-color: #ffe9d0;
  position: relative;
}

.card-title {
  text-align: center;
  background: #abe0fe;
  padding-top: 20px;
  padding-bottom: 15px;
}

.card-text {
  text-align: center;
  font-size: 130%;
  position: absolute;
  margin: 10px;
}
.feedback {
  font-size: 130%;
}
.name {
  text-align: right;
  font-size: 105%;
}

#body6 .container {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: Gray;
}

footer {
  background-color: #ffe9d0;
  text-align: center;
}

h5 {
  font-weight: 500;
  font-size: 130%;
  margin-bottom: 10px;
}

.about .container .mail {
  width: 85%;
}
.about .container .button-primary {
  background-color: black;
  border-color: black;
}

#end .container {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: Gray;
}

#end .container p {
  margin-top: 15px;
  margin-bottom: 15px;
}
