/* use this file to style your homepage */
body {
  font-family: "Lora", serif;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

header .nav-bar {
  background-color: #ffe9d0;
}

.logo {
  font-weight: bold;
  font-size: 180%;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
}

.choices ul {
  list-style-type: none;
  margin-top: 26px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 130%;
  text-align: right;
}

li {
  display: inline;
}

a {
  padding: 20px;
}

#doc {
  padding: 5px;
  padding-right: 15px;
  padding-left: 15px;
  background-color: #abe0fe;
  border: 1px solid #abe0fe;
  border-radius: 9px;
}

#body1 {
  background-image: url("https://cdn.glitch.me/6c5b7813-f9be-49fd-8b16-69f20afaecb9%2Fjozsef-koller-0w3NPruCHks-unsplash.jpeg?v=1639241791772");
  background-size: cover;
  padding-top: 130px;
  padding-bottom: 170px;
}

.text-block {
  font-weight: 400;
  text-align: center;
  color: white;
  
}
.download {
  text-align: center;
  vertical-align: middle;
}

#body2 {
font-size: 150%;
text-align: justify;
   margin-top: 30px;
  margin-bottom: 30px;
}


#body2 .img {
    text-align: center;
   margin-top: 80px;
}

#body3 {
font-size: 150%;
text-align: justify;
   margin-top: 30px;
  margin-bottom: 30px;
}

#body3 .img {
    text-align: center;
}

#body3 .text{
  margin-top: 60px;
}


#i1{
    max-width: 50%;
    max-height: 50%;
}

#body4 {
background: rgb(171,224,254);
background: linear-gradient(164deg, rgba(171,224,254,1) 0%, rgba(255,241,191,1) 62%, rgba(255,233,208,1) 74%);
}

footer {
  background-color: #ffe9d0;
}

h5 {
  font-weight: 500;
  font-size: 130%;
  margin-top: 15px;
  margin-bottom: 5px;
}

.about .container .mail {
  width: 85%;
}
.about .container .button-primary {
  background-color: black;
  border-color: black;
}
