/* use this file to style your homepage */
body {
  font-family: "Lora", serif;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

header .nav-bar {
  background-color: #ffe9d0;
  opacity: 0.8;
  margin-bottom: 200px;
}

.logo {
  font-weight: bold;
  font-size: 180%;
  text-align: left;
  margin-top: 15px;
  margin-bottom: 15px;
}

.choices ul {
  list-style-type: none;
  margin-top: 26px;
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 130%;
  text-align: right;
}

li {
  display: inline;
}

a {
  padding: 20px;
}

#doc {
  padding: 5px;
  padding-right: 15px;
  padding-left: 15px;
  background-color: #abe0fe;
  border: 1px solid #abe0fe;
  border-radius: 9px;
}

#background-img {
  background-image: url("https://cdn.glitch.me/6c5b7813-f9be-49fd-8b16-69f20afaecb9%2Fjozsef-koller-0w3NPruCHks-unsplash.jpeg?v=1639320385639");
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 120px;
}

#body1 mark {
  background-color: #ffe9d0;
  opacity: 0.8;
}
#body1 h1 {
  line-height: 1.28;
}

#body1 .text-block {
  font-weight: 500;
  font-size: 130%;
  text-align: center;
}
#body1 .text-block .button-primary {
  
}

#body1 .text-block .button {
  margin-top: 100px;
   margin-bottom: 200px;
  background-color: #ffe9d0; 
  border-radius: 60px;
}

#body2 h1 {
  margin-top: 50px;
  margin-bottom: 50px;
}
#body2 mark {
  background-color: #abe0fe;
}

#body2 p {
  font-size: 150%;
  text-align: justify;
}

#body2 .img {
  text-align: center;
}

#body3 {
  font-size: 150%;
  text-align: justify;
  margin-top: 30px;
  margin-bottom: 30px;
}

#body3 .img {
  text-align: center;
}

#body3 .text {
  margin-top: 60px;
}

#body3 #i1 {
  max-width: 50%;
  max-height: 50%;
}

#linh {
  background-image: url("https://cdn.glitch.me/6c5b7813-f9be-49fd-8b16-69f20afaecb9%2Ferik-mclean-fSLI8RdCdyk-unsplash.jpeg?v=1639327485788");
  height: 80vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#body4 {
  background: rgb(255, 233, 208);
  background: linear-gradient(
    126deg,
    rgba(255, 233, 208, 0.5676645658263305) 29%,
    rgba(171, 224, 254, 1) 78%
  );
}
 
#body4 p {
  text-align: justify;
    margin-top: 10px;
  font-size: 110%;
}
#body4 .figma {
  text-align: center;
}

.card {
  border-radius: 5px;
  box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.3);
  min-height: 400px;
  margin-bottom: 15px;
  background: white;
}

footer {
  background-color: #ffe9d0;
}

h5 {
  font-weight: 500;
  font-size: 130%;
  margin-top: 15px;
  margin-bottom: 5px;
}

.about .container .mail {
  width: 85%;
}
.about .container .button-primary {
  background-color: black;
  border-color: black;
}
