/* use this file to style your homepage */
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

header .nav-bar {
  background-color: #6495ED;
}


.logo {
  font-family: "Lora", serif;
  font-weight: bold;
  font-size: 180%;
  text-transform: uppercase;
  text-align: left;
  margin-top: 15px;
  margin-bottom: 10px;
}

.choices ul {
  font-family: "Lora", serif;
  list-style-type: none;
  margin-top: 25px;
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 130%;
  text-align: right;
}

li {
  display: inline;
}

a {
  padding: 20px;
}

