/* use this file to style your homepage */

header .choices ul {
  font-family: "Lora", serif;
  list-style-type: none;
  font-weight: 600;
  font-size: 110%;
 text-align: right;
}
li {
   display: inline;
}
a {
  display: block;
  padding: 15px;
}
