/* use this file to style your homepage */
body {
  font-family: "Work Sans", sans-serif;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

header .nav-bar {
  background-color: #fecf9a;
  color: #744F07;
}

.logo {
  font-weight: bold;
  font-size: 180%;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 15px;
}

.choices ul {
  list-style-type: none;
  margin-top: 26px;
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 130%;
  text-align: right;
}

.choices li {
  display: inline;
}

a {
  padding: 20px;
}

#doc {
  padding: 5px;
  padding-right: 15px;
  padding-left: 15px;
  background-color: #abe0fe;
  border: 1px solid #abe0fe;
  border-radius: 9px;
}

/* #background-img {
  background-image: url("https://cdn.glitch.me/6c5b7813-f9be-49fd-8b16-69f20afaecb9%2Fjozsef-koller-0w3NPruCHks-unsplash.jpeg?v=1639320385639");
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 120px;
} */

/* #body1 mark {
  background-color: #ffe9d0;
  opacity: 0.8;
} */
#body1 {
  background-color: #ffe9d0;
}

#body1 h1 {
  line-height: 1.28;
  text-transform: capitalize;
  color: #744F07;
  padding-top: 150px;
  font-weight: 500;
}

#body1 .btn {
  background-color: #abe0fe;
  border-radius: 80px;
  font-family: "Work Sans", sans-serif;
  font-size: 130%;
  margin-top: 40px;
  margin-bottom: 150px;
  color: black;
  padding: 16px;
  height: auto;
  color: #744F07;
}

.btn:hover {
  background-color: #57c2ff;
}

#body1 .container {
  text-align: center;
}

#background-col {
  background: rgb(255, 233, 208);
  background: linear-gradient(
    126deg,
    rgba(255, 233, 208, 0.5676645658263305) 29%,
    rgba(171, 224, 254, 1) 78%
  );
}

h2 {
  font-weight: 500;
  padding-top: 40px;
  padding-bottom: 10px;
  color: #744F07;
}
#body2 {
  line-height: 40px;
}

#body2 p {
  font-size: 130%;
  text-align: justify;
}

#body2 #i1 {
  margin-top: 80px;
  max-width: 60%;
  max-height: 60%;
}

#body3 {
  font-size: 130%;
  text-align: justify;
  line-height: 40px;
}

.img {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

#body3 .text {
  margin-top: 20px;
}

#body3 #i2 {
  max-width: 70%;
  max-height: 70%;
}

.imageheader {
  height: 60vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#linh {
  background-image: url("https://cdn.glitch.me/6c5b7813-f9be-49fd-8b16-69f20afaecb9/photo-1575517112311-c371a9d614a8.jpeg?v=1639620739431");
}

#linh2 {
  background-image: url("https://cdn.glitch.me/6c5b7813-f9be-49fd-8b16-69f20afaecb9%2Fjon-nathon-stebbe-paydk0JcIOQ-unsplash.jpeg?v=1639241238462");
}

#linh3 {
  background-image: url("https://cdn.glitch.me/6c5b7813-f9be-49fd-8b16-69f20afaecb9%2Fhe-gong-2VCtLsPEaWI-unsplash.jpeg?v=1639346746698");
}

#instruction {
  background: rgb(255, 233, 208);
  background: linear-gradient(
    126deg,
    rgba(255, 233, 208, 0.5676645658263305) 29%,
    rgba(171, 224, 254, 1) 78%
  );
}

#body4 .text {
  text-align: justify;
  font-size: 130%;
}
#body4 #device {
  text-align: center;
  margin-top: 90px;
  margin-bottom: 50px;
}

#body4 #i3 {
  margin-top: 85px;
  max-width: 70%;
}
#body4 #i4 {
  max-width: 70%;
}
#body4 .step {
  margin-top: 120px;
}
#body4 p {
  line-height: 40px;
}
#body4 .image {
  text-align: center;
}
#body4 .image1 {
  text-align: center;
  margin-top: 20px;
}

#last-step {
  margin-bottom: 40px;
}

.card {
  border-radius: 5px;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.3);
  min-height: 700px;
  margin-bottom: 50px;
  background-color: #ffe9d0;
  position: relative;
}

.card-title {
  text-align: center;
  background: #abe0fe;
  padding-top: 35px;
  padding-bottom: 35px;
  font-weight: 400;
}

.card-title1 {
  text-align: center;
  background: #abe0fe;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 400;
}
.pic {
  max-width: 70%;
}
.card-text {
  text-align: center;
  font-size: 130%;
  position: absolute;
  margin: 10px;
}

.tes {
  max-width: 65%;
}
.feedback {
  font-size: 130%;
  text-align: center;
}
.name {
  text-align: center;
  font-size: 100%;
}

#body6 .container {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: Gray;
}

footer {
  background-color: #ffe9d0;
  text-align: center;
}

h5 {
  font-weight: 500;
  font-size: 130%;
  margin-bottom: 5px;
  color: #744F07;
}

footer p {
  margin-top: 15px;
}

#end .container {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: Gray;
}

#end .container p {
  margin-top: 15px;
  margin-bottom: 15px;
}

footer .button {
  font-family: "Work Sans", sans-serif;
  background-color: #abe0fe;
  border-color: #abe0fe;
}

#contact {
  margin-bottom: 10px;
}
