/* use this file to style your homepage */
body {
  font-family: "Lora", serif;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

header .nav-bar {
  background-color: #FFEBCD;
}

.logo {
  font-weight: bold;
  font-size: 180%;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
}

.choices ul {
  list-style-type: none;
  margin-top: 26px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 130%;
  text-align: right;
}

li {
  display: inline;
}

a {
  padding: 20px;
}

#doc {
  padding: 5px;
  padding-right: 15px;
  padding-left: 15px;
  background-color: #d1dffa;
  border: 1px solid #d1dffa;
  border-radius: 9px;
}

#body1 {
  background-image: url("https://cdn.glitch.me/6c5b7813-f9be-49fd-8b16-69f20afaecb9%2Fjozsef-koller-0w3NPruCHks-unsplash.jpeg?v=1639241791772");
  background-size: cover;
  padding-top:130px;
  padding-bottom: 170px;
}


.text-block {
  font-weight: 400;
  text-align: center;
  color: white;
}
.download {
    text-align:center;
  vertical-align:middle;
}


#body2 {
}

footer {
  background-color: #FFEBCD;
}

h5 {
  font-weight: 500;
  font-size: 130%;
  margin-top: 15px;
  margin-bottom: 5px;
}

.about .container .mail {
  width: 85%;
}
.about .container .button-primary {
  background-color: black;
  border-color: black;
}
